<!--<li *ngFor="let post of posts; let i = index" [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list- group-item-danger': post.loveIts < 0}">
  <h3>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <button type="button" class="btn btn-success"
          (click)="onLike()" >love it</button>
  <button type="button" class="btn btn-danger"
          (click)="onDislike()" >Dont love It</button>
  <button type="button" class="pull-right , btn btn-danger" (click)="onDeletePost ()">supprimer post</button>
  {{ post.loveIts }}
  je fais un truc 
  je fais 2 truc
  je fais 3 truc

</li>-->

<h1>Application blog</h1>
<li *ngFor ="let post of posts" [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <h3>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <button type="button" class="btn btn-success"
          (click)="onLike()" >love it</button>
  <button type="button" class="btn btn-danger"
          (click)="onDislike()" >Dont love It</button>
  <button type="button" class="pull-right , btn btn-danger" (click)="onDeletePost()">supprimer post</button>
  {{ post.loveIts }}
</li>

